@import 'partials/setup';
$font-header: 'Six Caps', sans-serif;
$font-title: 'Hind', sans-serif;
$font-body: 'Open Sans', sans-serif;

$color-brown:#320F08;
$color-green:#394F48;
$color-olive:#65752E;
$color-cream:#EFDE7F;

// Beer Icon created by Nate Bruzdzinski from the Noun Project
// Frost Mug created by parkjisun from the Noun Project

@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

.flex {
	display: flex;
	flex-flow: row wrap;
}

html {
	font-size: 62.5%;
}

body{
	font-size: 16px;
	color: $color-brown;
	background: lighten($color-olive, 40);
}

html, body {
        // height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 200px;
      }

.wrapper {
	background: url('../assets/background2.png');
	background-size: 10%;
}

.innerWrapper {
	display: flex;
}

h3 {
	font-family: $font-title;
	@include fontSize(22);
	text-transform: uppercase;
	font-weight: 700;
	text-align: right;
	margin: 0;
	padding: 0;
	line-height: 1.1;
}
h2 {
	font-family: $font-title;
	text-align: center;
	text-shadow: 3px 2px 2px slategrey;
	text-transform: uppercase;
	@include fontSize(40);
	padding:0;
	margin:0;
}

p {
	color: $color-green;
}

button {
	background: transparent;
	border: none;
	border-radius: 0;
	width: 100%;
	&:focus {
		outline: none;
	}
}
.hidden {
	display: none;
}


// **************************
// Left Section Styles
// **************************

section.leftPanel {
	width: 40%;
	padding: 40px;
	background: rgba(240, 222, 136, 0.96);
	min-height: 100vh;
	h1 {
		@include fontSize(120);
		text-transform: uppercase;
		font-family: $font-header;
		letter-spacing: 10px;
		text-shadow: 3px 2px 2px slategrey;
		margin: 0;
		padding: 0;
		line-height: 1;
	}
	p.tagline {
		@include fontSize(20);
		margin: 45px 0;
		color: $color-green;
	}
	form {
		input {
			padding: 10px;
		}
		input[type=text] {
			width: 80%;
			border: none;
		}
		input[type=submit] {
			width: 18%;
			background: $color-olive;
			border: none;
			background-image: url("../assets/marker.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 35%;
		}
	}
}

.resultsMain {
	margin-top: 45px;
	.breweryListing {
		border-top: 5px solid $color-brown;
	}
	.header {
		@extend .flex;
		padding: 15px 0;
		// on hover, go inside the class of beer within header and go inside of that go to image,
		// translate will do calc for you because on position absolute will just target the top corner of the image so this way it will be centered -%50 of the image, so here we just cared that it was horizontally centered hense the zero on the other one. 
		&:hover > .beer > img {
			position: absolute;
			top: 50%;
			left: 15px;
			transform: translate(0%, -50%) rotate(90deg);  
		}
	}
	.beer {
		width: 30%;
		position: relative;
		img {
			position: absolute;
			top: 50%;
			left: 15px;
			transform: translate(0%, -50%);
			transition: all 0.5s ease;
		}
		img.toggled {
			position: absolute;
			top: 50%;
			left: 15px;
			transform: translate(0%, -50%) rotate(90deg);  	
		}
	}

	.breweryHeader {
		width: 70%;
		text-align: right;
		p {
			padding: 0;
			margin: 0;
			@include fontSize(12);
		}
	}

	a {
		text-decoration: none;
		color: $color-green;
		font-weight: 700;
		@include fontSize(12);
		&:hover {
			color: $color-brown;
			border-bottom: 1px dotted $color-brown;
		}
	}

	p {
		@include fontSize(12);
		padding: 0;
		margin: 0;
	}

	p.title {
		padding: 12px 0 3px;
		font-weight: 700;
	}

	.breweryBody {
		margin: 20px 0 30px;
		background: lighten(rgba(240, 222, 136, 0.96), 20);
		border-radius: 15px;
		padding: 10px;
		display: none;
	}

}

// **************************
// Right Section Styles
// **************************

section.rightPanel {
	width: 60%;
	padding: 20px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	#map {
		width: 85%;
		border: 5px solid $color-brown;
		margin-top: 50px;
		min-height: 400px;
	}
	.featuredResults {
		background: white;
		border: 5px solid $color-brown;
		width: 85%;
		margin-top: 70px;
		padding: 20px;
	}

}
// **************************
// 
// **************************

.featuredHeaderLogo {
	border-top: 5px solid $color-brown;
	padding: 20px 0;
	justify-content:space-between;
	align-items: center;

	@extend .flex;
	&:hover > .plusSign > .line2 {
		opacity: 0;
	}

	.numberCircle {
	border: 5px solid $color-brown;	
	border-radius:50%;
	width: 50px;
	height: 50px;
	position: relative;
	}
	.plusSign {
	display: flex;
	flex-direction: column;
	// align-items: center;
		.line1, .line2 {
	height:3px;
	width:40px;
	border:5px solid $color-brown;
	
	}
		.line2 {
		transform: rotate(90deg) translate(-10px,0);
		opacity: 1;
		transition: all 0.5s ease;
		}

		.visHidden {
			visibility: hidden;
		}
	}

	img.mug {
		position: absolute;
		width: 70%;
		bottom:50%;
		right: 50%;
		transform: translate(50%, 50%);
	}
}
.logo {
	width:175px;
	height: 50px;
	img {
		width: 100%;
	}
}


.featuredBreweryHeader {
	@extend .flex;
	align-items: center;
	justify-content: space-between;
	// border-bottom: 3px dotted $color-green;
	h3{
		text-align: left;
		width:70%;
	}
	p {
		text-transform: uppercase;
		width: 30%;
		text-align: right;
	}
}

.featuredBreweryBody {
		padding: 20px 10px;
		background: lighten(rgba(240, 222, 136, 0.96), 20);
		border-radius: 20px;
		margin: 15px 0;
		display: none;
	a {
		text-decoration: none;
		color: $color-green;
		font-weight: 700;
		@include fontSize(12);
		&:hover {
			color: $color-brown;
			border-bottom: 1px dotted $color-brown;
		}
	}

	p {
		@include fontSize(12);
		padding: 0;
		margin: 0;
	}

	p.title {
		padding: 12px 0 3px;
		font-weight: 700;
	}

	.breweryBody {
		margin: 20px 0 30px;
		background: lighten(rgba(240, 222, 136, 0.96), 20);
		border-radius: 15px;
		padding: 10px;
	}
}



